<h1> Fuel Stations</h1>

<h3> <%= @stations.count %> stations</h3>
<div>
  <% @stations.each do |station| %>
 <ul class='station'>
   <li class="name"> Name: <%= station.name %></li>
   <li class="address">Address: <%= station.address %></li>
   <li class="fuel_types">Fuel Type(s): <%= station.fuel_types %></li>
   <li class="distance"> Distance (mi): <%= station.distance %></li>
   <li class="access_times"> Access Times: <%= station.access_times %></li>
 </ul>
 <% end %>
</div>
